{% extends "pages/base.html" %}
{% load static %}
{% load shifts_extras %}
{% block headinfo %}
<link rel="stylesheet" type="text/css" href="{% static 'events/calendar.css' %}" />
{% endblock headinfo %}
{% block content %}
<h1>Calendar</h1>
<a href="" id="btn-prev-month">
    < </a>
        <h2>{{ monthName }}, {{ year }}</h2>
        <a href="" id="btn-next-month">></a>
        <table id="calendar">
            <thead class="day-names">
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </thead>
            <tbody id="calendar-body"></tbody>
        </table>

        <section>
            {% for event in events %}
            {% with uid=event.uid %}
            <article id="{{ event.uid }}" {% if staffing|key_lookup:uid < event.minSlots %}
             class="under-staffed" 
             {% elif staffing|key_lookup:uid < event.slots %}
             class="min-staffed"
             {% elif staffing|key_lookup:uid >= event.slots %}
             class="full-staffed"
            {% endif %}>
                <a href="{% url 'shift-instance-detail' base_slug=event.baseShift.slug uid=event.uid %}">
                    <h2>{{ event.name }}</h2>
                </a>
                <h3>{{ event.date|date:"F j, Y" }}</h3>
                <h4>{{ event.startTime }} - {{ event.endTime }}</h4>
                <h4>Minimum Staffing Needed: {{ event.minSlots }}</h4>
                <h4>{{ event.vols.all.count|add:event.staff.all.count }} out of {{ event.slots }} slots filled</h4>
                <p>{{ event.description }}</p>
            </article>
            {% endwith %}
            {% endfor %}
        </section>
        {{ calYear|json_script:"year" }}
        {{ calMonth|json_script:"month" }}
        {{ eventsJson|json_script:"eventsJson" }}
        <script type="text/javascript" src="{% static 'shifts/calendar.js' %}"></script>
        {% endblock content %}