{% extends "pages/base.html" %}

{% block content %}
<div class="container">
    <section>
        {% for item in shifts %}
        <article>
            <a href="{% url 'base-instance-detail' base_slug=item.baseShift.slug uid=item.uid %}">
                <h2>{{ item.baseShift.name }}</h2>
                <h3>{{ item.date|date:"F d, Y" }}</h3>
                <h3>{{ item.startTime|date:"g:iA" }} - {{ item.endTime|date:"g:iA" }}</h3>
            </a>
        </article>
        {% endfor %}
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
            {% endif %}
    </section>
</div>
{% endblock content %}