{% extends "pages/base.html" %}

{% block content %}
    <div class="container">
        <section class="row">
            <div class="col-4">
                <h1>Sign Out</h1>
                <p>Are you sure you want to sign out?</p>
                <form method="POST" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Sign Out</button>
                </form>
            </div>
        </section>
    </div>
{% endblock content %}