{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <section class="row">
            <div class="col-4">
                <h2>Change Password</h2>
                <form class="" method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" name="action" class="btn btn-outline-info">Change Password</button>
                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </form>
            </div>
        </section>
    </div>

{% endblock content %}