{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <section class="row">
            <div class="col-4">
                <h1>Password Reset</h1>
                {% if user.is_authenticated %}
                    <h3>You are already logged in as: {{ user.username }}</h3>
                {% endif %}
                <h4>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</h4>
                <form method="POST" action="{% url 'account_reset_password' %}" >
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Reset My Password" />
                </form>
            </div>
        </section>
    </div>
{% endblock content %}