{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <section class="row">
            <div class="col-4">
                <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
                {% if token_fail %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" name="action" value="Change Password" class="btn btn-primary">
                        </form>
                    {% else %}
                        <p>Your password is now changed.</p>
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}