{% extends "pages/base.html" %}

{% block content %}
    <div class="container">
        <section class="row">
            <div class="col-4">
                <h1>Password Reset</h1>
                {% if user.is_authenticated %}
                    <p><strong>Note:</strong> you are already logged in as: {{ user }}</p>
                {% endif %}
                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
            </div>
        </section>
    </div>
{% endblock content %}