{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container justify-content-center">
        <div class="row">
            <h2>Sign Up</h2>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}