{% extends "pages/base.html" %}

{% block content %}
    <h1>Hello World!</h1>
    <div class="container">
        <section class="row">
            <div class="col-md-8">
                <h2>Announcements</h2>
                {% for item in announcements %}
                    <article>
                        <a href="{% url 'announcement-detail' item.pk %}"><h3>{{ item.title }}</h3></a>
                        <h5>Posted On: {{ item.dateCreated|date:"M d Y" }}</h5>
                        <h5>Posted By: {{ item.postedBy }}</h5>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section class="row">
            <div class="col-md-8">
                <h2>Events</h2>
                {% for item in events %}
                <article>
                    <a href="{% url 'event-detail' item.slug %}"><h3>{{ item.title }}</h3></a>
                    <h4>Start: {{ item.startTime|date:"g:iA D, M d, Y" }}</h4>
                    <h4>End: {{ item.endTime|date:"g:iA D, M d, Y" }}</h4>
                </article>
                {% endfor %}
            </div>
        </section>
        <section class="row">
            <div class="col-md-8">
                <h2>Open Shifts</h2>
                {% if openShifts %}
                {% for shift in openShifts %}
                <article>
                    <a href="{% url 'shift-instance-detail' base_slug=shift.baseShift.slug uid=shift.uid %}"><h3>{{ shift.baseShift.name }}</h3></a>
                    <h4>Date: {{ shift.date|date:"l, F jS, Y" }}</h4>
                    <h4>{{ shift.startTime|date:"g:iA" }} - {{ shift.endTime|date:"g:iA" }}</h4>
                    <p>{{ shift.description }}</p> 
                </article>
                {% endfor %}
                {% else %}
                <h2>No Open Shifts</h2>
                <p>Did you sign in?</p>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}