{% extends "pages/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Create Event</h1>
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ form.media }}
                    {{ form|crispy }}
                    <button class="btn btn-info" type="submit">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>


{% endblock content %}